<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This web page is created by Shahroz Ali using data form darksky.net and mapbox.com.</p>
        <img class="portrait" src="/img/me.pic.jpg">
    </div>
    
    {{>footer}}
</body>

</html>